* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-size: 1.05rem;
}

html, body {
    width: 100%;
    height: 100%;
}

.container {
    // border: 2px solid red;
    width: 58%;
    min-width: 800px;
    margin: auto;
    padding-top: 5rem;
}

form {
    width: fit-content;
    margin: auto;
    display: flex;
    align-items: center;
    gap: 1rem;    

    input {
        width: 26rem;
        padding: 0.9rem 1.3rem;
        border-radius: 50px;
        border: none;
        background-color: #F0F0F0;
    }

    button {
        padding: 0.9rem 2.2rem;
        border-radius: 50px;
        border: none;
        background-color: #FF5757;
        color: #fff;
        cursor: pointer;
    }
}

/* Profile */
.profile {
    background-color: #f4f7f9ae;
    padding: 1.9rem;
    border-radius: 25px;
    margin-top: 5.5rem;
    display: flex;
    gap: 3.6rem;

    .left-side {
        .profile-img {
            width: 10rem;
            aspect-ratio: 1/1;
            background-color: orangered;
            border-radius: 50%;
            overflow: hidden;
            border: 4px solid #fdc8c8;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
            margin-bottom: 2rem;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center top;
            }
        }

        .links {
            width: fit-content;
            display: flex;
            flex-direction: column;
            gap: 0.5rem;

            a, p {
                display: flex;
                align-items: center;
                gap: 0.6rem;
                opacity: 0.74;
                text-decoration: none;
                color: #333;
                font-size: 0.95rem;
                flex-grow: 0;

                img {
                    opacity: 0.65;
                    width: 1.1rem;
                }
            }
        }
    }

    .right-side {
        .name {
            font-size: 1.8rem;
            margin-top: 1rem;
            opacity: 0.87;
        }
        .profile-id {
            opacity: 0.78;
            font-size: 1.28rem;
        }
        .connections-showcase {
            font-size: 1.2rem;
            margin-block: 1.2rem;
        }
        .bio {
            opacity: 0.76;
            line-height: 1.4;
        }
        .repo-count {
            font-size: 1.1rem;
            opacity: 0.9;
            margin-block: 1.4rem 0.7rem;
        }
        .repos-container {
            // border: 3px solid rgb(255, 98, 98);
            padding: 0.2rem;
            display: flex;
            flex-wrap: wrap;
            gap: 1.5rem;

            .repo {
                font-size: 0.93rem;
                background-color: #49414bee;
                color: #ffffffe7;
                padding: 0.5rem 1rem;
                border-radius: 8px;
                box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
            }
        }
    }

}



